/*
 * This is an iumio Framework component
 *
 * (c) RAFINA DANY <dany.rafina@iumio.com>
 *
 * iumio Framework, an iumio component [https://www.iumio.com]
 *
 * To get more information about licence, please check the licence file
 *
 */



#iumioTaskBar  * {
    line-height: normal;
}

.layout-error-text {
    color: white
}


.layout-error-text h4 {
    font-weight: 700;
}

.layout-error-text p {
    padding-bottom: 20px
}

#iumioTaskBar .iumioTaskBarDropdown a:hover, .iumioTaskBar .iumioTaskBarDropdown a:hover,
#iumioTaskBar .FGM a:hover, .iumioTaskBar .FGM a:hover {
    background-color: #3c58d9!important;
    color: white!important;
}

#iumioTaskBar img, .iumioTaskBar img {
    vertical-align: middle;
    border: 0;
}

#iumioTaskBar, .iumioTaskBar {
    background-color: rgb(48, 51, 68);
    bottom: 0;
    color: #EEE;
    left: 0;
    margin: 0;
    padding: 0 0px 0 0;
    position: fixed;
    right: 0;
    text-align: left;
    /*height: 35px!important;*/
    text-transform: none;
    z-index: 99999;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;

}

#iumioTaskBar .iumiocode,
#iumioTaskBar .iumiomethod,
#iumioTaskBar .iumioreferer,
#iumioTaskBar .iumiouide {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 0 0 0 25px;
    margin-bottom: 0
}

#iumioTaskBar .iumio-taskbar-item {
    padding-right: 5px!important
}

#iumioTaskBar .iumioTaskbarTable {
    margin: 0 auto;
    width: 100%;
    background-color: #fff!important;
    font-family: "Helvetica Neue", Arial, sans-serif!important
}

#iumioTaskBar .iumioTaskbarTableApps {
    font-size: 15px;
    border: none
}

#iumioTaskBar .iumioTaskbarTableApps tr td,
#iumioTaskBar .iumioTaskbarTableApps tr th {
    padding: 7px 10px!important;
    text-align: center
}

#iumioTaskBar .iumioTaskBBarAppname {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto
}

#iumioTaskBar .iumioTaskbarTable thead th {
    font-weight: 400;
    background: #3e55da;
    color: #fff
}

#iumioTaskBar .iumiouideurl:hover {
    text-decoration: underline!important;
    cursor: pointer!important
}

#iumioTaskBarAssets .iumioTaskBarDropdownContent,
#iumioTaskBarAssets .iumioTaskBarDropdownContent li:first-child,
#iumioTaskBarAssets .iumioTaskBarDropdownContent li:first-child:hover,
#iumioTaskBarCacheClear .iumioTaskBarDropdownContent,
#iumioTaskBarCacheClear .iumioTaskBarDropdownContent li:first-child,
#iumioTaskBarCacheClear .iumioTaskBarDropdownContent li:first-child:hover,
#iumioTaskBarEnaDisApp .iumioTaskBarDropdownContent,
#iumioTaskBarEnaDisApp .iumioTaskBarDropdownContent li:first-child,
#iumioTaskBarEnaDisApp .iumioTaskBarDropdownContent li:first-child:hover {
    background-color: transparent;
    border: none
}

#iumioTaskBarAssets .iumioTaskBarDropdownContent li:first-child td:hover,
#iumioTaskBarCacheClear .iumioTaskBarDropdownContent li:first-child td:hover,
#iumioTaskBarEnaDisApp .iumioTaskBarDropdownContent li:first-child td:hover {
    background-color: #fff;
    color : rgb(48, 51, 68);
}

#iumioTaskBarAssets .iumioTaskBarDropdownContent li:first-child td,
#iumioTaskBarCacheClear .iumioTaskBarDropdownContent li:first-child td,
#iumioTaskBarEnaDisApp .iumioTaskBarDropdownContent li:first-child td {
    text-align: left
}

#iumioTaskBar .iumioTaskbarTable thead {
    border: 1px solid #233bab;
}

#iumioTaskBar .iumioTaskbarTable tr {
    background: rgb(48, 51, 68)!important;
    color: white;
    font-size: 14px;

}

#iumioTaskBar .iumioTaskbarTable td,
#iumioTaskBar .iumioTaskbarTable th {
    text-align: left;
    color: white;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
}



#iumioTaskBar .iumioTaskbarTable tbody {
    background-color: #fff!important
}

#iumioTaskBar .iumioTaskbarTable tbody tr td:nth-child(1) {
   width: 86px;
}

#iumioTaskBar .iumioTaskbarTable tbody tr td:nth-child(3) {
    min-width: 50px
}

#iumioTaskBar .iumioTaskbarTable tbody tr td:nth-child(4) {
    min-width: 150px
}

#iumioTaskBar .iumioTaskBarOneLog:hover {
    cursor: auto
}

#iumioTaskBar .iumioTaskBarOneLog a {
    display: inline-block!important;
    padding: 10px 5px 10px 0!important;
    font-size: 10px!important;
    font-weight: 400!important;
    color: #fff!important
}

#iumioTaskBar .iumioTaskBarOneLog,
#iumioTaskBar .iumioTaskbarCodeError {
    font-size: 14px!important
}

#iumioTaskBar .iumioTaskBarAppName {
    border-right: 1px solid #fff
}

#iumioTaskBar .iumioTaskBarGetOneLog {
    overflow: auto!important
}

#iumioTaskBar .iumioTaskBarDropdownContent .iumioTaskBarGetOneLog:hover {
    background-color: rgba(0, 0, 255, .5)!important
}

#iumioTaskBar .newiumiorequest {
    animation: irubberBand 2s infinite;
    -webkit-animation: irubberBand 2s infinite;
    -moz-animation: irubberBand 2s infinite;
    -o-animation: irubberBand 2s infinite
}

@keyframes irubberBand {
    from,
    to {
        transform: scale3d(1, 1, 1)
    }
    30% {
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        transform: scale3d(1.05, .95, 1)
    }
}

#iumioTaskBar .iumioTaskBarOneLog {
    padding: 0!important
}

#iumioTaskBar li, .iumioTaskBar li {
    float: left;
    padding-left: 0!important;
    list-style: none
}

#iumioTaskBar li a, .iumioTaskBar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    text-decoration: none;
    font-family: arial !important;
}

#iumioTaskBar li a:hover:not(.active), .iumioTaskBar li a:hover:not(.active) {
    background-color: #fff;
    color: #fff
}

#iumioTaskBar li a:hover, .iumioTaskBar li a:hover {
    color: #000!important
}

#iumioTaskBar .active, .iumioTaskBar .active {
    color: #fff
}

#iumioTaskBar .active strong, .iumioTaskBar .active strong  {
    color: #fff!important
}

#iumioTaskBar .flogo, .iumioTaskBar .flogo {
    padding-left: 4px!important;
    padding-right: 4px;
    height: 100%;
    padding-top: 1px;
}

#iumioTaskBar .iumioTaskBarTimeLoad a img,
#iumioTaskBar .iumioTaskBarMemory a img {
    height: 13px;
}

#iumioTaskBar small, .iumioTaskBar small {
    font-size: 85%;
}

#iumioTaskBar .flogo img, .iumioTaskBar .flogo img {
    height: 25px!important;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
#iumioTaskBar li:nth-child(2), .iumioTaskBar li:nth-child(2) {
    width: 120px;
    background-color: #3c58d9;
}

#iumioTaskBar .iumioTaskBarVersion, .iumioTaskBar .iumioTaskBarVersion {
    float: right
}


#iumioTaskBar .iumioTaskBarVersion a, #iumioTaskBar .iumioTaskBarTimeLoad a,  #iumioTaskBar .iumioTaskBarMemory a,
.iumioTaskBar .iumioTaskBarVersion a, #iumioTaskBar .iumioTaskBarTimeLoad a,  .iumioTaskBar .iumioTaskBarMemory a{
    /*background-color: #3f54da;*/
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 700;
}

#iumioTaskBar .iumioTaskBarVersion a:hover, #iumioTaskBar .iumioTaskBarTimeLoad a:hover,
.iumioTaskBar .iumioTaskBarVersion a:hover, .iumioTaskBar .iumioTaskBarTimeLoad a:hover {
    color: white!important;
}

#iumioTaskBar li:nth-child(2) a,
.iumioTaskBar li:nth-child(2) a{
    text-align: center;

}

#iumioTaskBarClicker{
    cursor: pointer
}



#iumioTaskBar .iumioTaskBarDropdown {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block
}

#iumioTaskBar .iumioTaskBarDropdownContent {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0!important;
    left: 0;
    transform: translateY(2em);
    z-index: -1;
    transition: all .3s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear 10ms
}

#iumioTaskBar .iumioTaskBarDropdown:hover .iumioTaskBarDropdownContent {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, .3s
}

#iumioTaskBar .iumioTaskbarTable {
    border-collapse: initial!important;
}

#iumioTaskBar .iumioTaskBarDropdownContent {
    background-color: rgba(53, 53, 53, .72);
    padding: 0!important;
    width: auto;
}

#iumioTaskBar .iumioTaskBarDropdownContent li {
    list-style: none;
    display: block!important;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#iumioTaskBar .iumioTaskBarDropdownContent li:before {
    content: ''
}

#iumioTaskBar .iumioTaskBarDropdownContent li:hover {
    color: #000;
    background-color: #fff
}

#iumioTaskBar .iumioTaskBarOneApp {
    font-weight: 400
}

#iumioTaskBar .iumioTaskBarOneApp:hover {
    color: #000!important;
    cursor: pointer
}

#iumioTaskBarBlank {
    clear: both;
    height: 26px;
    display: block
}

#iumioTaskBar .iumioTaskBarLogsTitle {
    font-size: 15px
}


#iumioTaskBar .iumio-red-color {
    color: #ff431c
}

#iumioTaskBar .iumio-green-color {
    color: #24c724
}

#iumioTaskBar .iumioBtn {
    border: 1px solid white;
    color: black;
    padding: 3px;
    background-color: white;
}

#iumioTaskBar .iumioBtn:hover {
    border: 1px solid #3c58d9;
    color: white!important;
    background-color: #3c58d9;
}

#iumioTaskBar .iumio-green-red-btn {
    position: relative;
    top: 1px
}

#iumioTaskBar .iumioTaskBarBounceIn {
    -webkit-animation: bounceIn 1s ease-in
}

@-webkit-keyframes iumiobounceIn {
    0% {
        transform: scale(.1);
        -webkit-transform: scale(.1);
        opacity: 0
    }
    60% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

@keyframes iumiobounceIn {
    0% {
        transform: scale(.1);
        -webkit-transform: scale(.1);
        opacity: 0
    }
    60% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

@-webkit-keyframes iumioTaskBarPulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, .4)
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0)
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0)
    }
}

@keyframes iumioTaskBarPulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, .4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, .4)
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0)
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0)
    }
}

.icon-iumio-task {
    font-weight: 900!important;
    position: relative;
    top: 2px;
    font-size: 14px
}

.icon-iumio-task:before {
    content: '→';
    padding-right: 6px;
    position: relative;
    top: -4px
}

#iumioTaskBar .iumioTaskBarDropdownContent li {
    padding: 0;
}

@media (max-width:989px) {
    #iumioTaskBar li:nth-child(3),
    .iumioTaskBar li:nth-child(3){
        display: none
    }
}

@media (max-width:874px) {
    #iumioTaskBar li:nth-child(5),
    #iumioTaskBar li:nth-child(6),
    #iumioTaskBar li:nth-child(8),
    .iumioTaskBar li:nth-child(5),
    .iumioTaskBar li:nth-child(6),
    .iumioTaskBar li:nth-child(8){
        display: none
    }
}

@media (max-width:537px) {
    #iumioTaskBar li:nth-child(10),
    #iumioTaskBar li:nth-child(11),
    .iumioTaskBar li:nth-child(10),
    .iumioTaskBar li:nth-child(11)
     {
        display: none
    }
}

@media (max-width:430px) {
    #iumioTaskBarRequests {
        border: none!important
    }
    #iumioTaskBar li:nth-child(4),
    #iumioTaskBar li:nth-child(9),
    .iumioTaskBar li:nth-child(4),
    .iumioTaskBar li:nth-child(9){
        display: none!important
    }
}


